body {
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
}

*{
    transition: 0.2s;
}

.btn {
    font-size: 30px;
    margin: 2px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.runBtn {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: white;
}

.runBtn:hover {
    background-image: linear-gradient(#ae1606, #612b12);
    color: white;
    transform: scale(1.1);
    box-shadow: 2px 2px 5px 2px rgba(127, 127, 127, 0.5);
}

.btn:active {
    transform: scale(0.9);
    box-shadow: 2px 2px 5px 2px rgba(127, 127, 127, 0.5);
}

#runInp{
    width: 100px;
    cursor: auto;
}